<div class="row ">
  
    <div class="col-md-9 offset-md-2">   
      <h1 class="display-6 fw-semibold">Submit payment</h1>
      <p class="lead fs-6">
          <small>To submit an SEC Filing Fee payment using ACH, Credit or Debit Card. enter the below information and click NEXT.You will then verify your CIK and contact information before selecting a payment type and entering your payment information</small>
          <br/><br/>
          <small>Please note:ACH payments take 1-3 business days before being reflected in EDGAR.Credit and Debit Card transactions will appear in EDGAR in [TBD] hours</small>
      </p>
      <p class=" p-3 text-center bg-info lh-1 fs-4">Confirm the information</p>
    </div>
    
    <div class="col-md-7 p-5 offset-md-3 bg-light">
        <p class="lead fs-6 text-center"><small>please review the information below, then click PROCEED TO PAYMENT Return to the previous screen by clicking BACK</small></p>
        <p class="lead fs-3 fw-semibold text-center">Your credentials and payment amount</p>

        <div class="row g-3">
            <div class="col-sm-12">
                <small class="lead fs-6 fw-semibold">CIK</small><br/><small class="fs-6 fw-lighter">{{payment.cik}}</small>
            </div>
            <div class="col-sm-12">
                <small class="lead fs-6 fw-semibold">Company name</small><br/><small class="fs-6 fw-lighter">Stage Penetration Test</small>
            </div>
            <div class="col-sm-12">
                <small class="lead fs-6 fw-semibold">Date of last payment</small><br/><small class="fs-6 fw-lighter">There is no payment date associated with the CIK:{{payment.cik}}</small>
            </div>
            
            <p class="my-3 fs-3 fw-semibold text-center">Your contact information</p>

            <div class="col-sm-12">
                <small class="lead fs-6 fw-semibold">Name</small><br/><small class="fs-6 fw-lighter">{{payment.name}}</small>
            </div>
            <div class="col-sm-12">
                <small class="lead fs-6 fw-semibold">Email</small><br/><small class="fs-6 fw-lighter">{{payment.email}}</small>
            </div>
            <div class="col-sm-12">
                <small class="lead fs-6 fw-semibold">Phone</small><br/><small class="fs-6 fw-lighter">{{payment.phone}}</small>
            </div>                            
            
            <button type="submit" (click)="previousState()" class="btn btn-info p-3 mx-2 col-2" data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
            <!-- <button type="button" [routerLink]="['/payment', payment.id, 'edit']" class="btn btn-primary">
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button> -->
            <button type="button"  class="btn btn-info p-3 col-4 offset-1"  (click)="save()">
              <fa-icon icon="save"></fa-icon>&nbsp;<span>Proceed to Payment</span>
            </button>
                            
        </div>
    </div>
</div>